.stat-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.4em;
  vertical-align: middle;
}

.affection-icon {
  background-image: url("images/affection.png");
}

.annoyance-icon {
  background-image: url("images/annoyance.png");
}

.cold-icon {
  background-image: url("images/cold.png");
}

.dont-icon {
  background-image: url("images/dont.png");
}

.gift-icon {
  background-image: url("images/gift.png");
}

.love-icon {
  background-image: url("images/love.png");
}

.punish-icon {
  background-image: url("images/punish.png");
}

.snitch-icon {
  background-image: url("images/snitch.png");
}

.beapal-icon {
  background-image: url("images/beapal.png");
}

