

.button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 11; 
}


.button-img {
  position: absolute;
  width: 68px;
  height: 68px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgba(24, 0, 36, 0.7);
  border: 1px solid rgba(18, 0, 26, 0.6);

  box-shadow:
    
    0 0 10px 3px rgba(0, 255, 255, 0.65),
    
    
    0 0 20px 8px rgba(0, 255, 255, 0.2),

    
    0 0 26px 12px rgba(140, 70, 200, 0.22),

    
    0 0 38px 20px rgba(40, 10, 60, 0.33),

    
    0 0 60px 28px rgba(24, 0, 36, 0.22),

    
    inset 0 0 9px rgba(255, 255, 255, 0.04);

  filter: blur(0.15px);
  transition: all 0.25s ease;
  pointer-events: auto;
}



.button-img:hover {
  transform: scale(1.07);
  box-shadow:
    0 0 12px 4px rgba(0, 255, 255, 0.8),       
    0 0 28px 14px rgba(140, 70, 200, 0.35),    
    0 0 48px 22px rgba(60, 20, 80, 0.4),      
    0 0 80px 34px rgba(24, 0, 36, 0.2),         
    inset 0 0 12px rgba(255, 255, 255, 0.06); 
}


#btn-worm1 {
  bottom: 30px;
  right: 145px;
  background-image: url('images/wormy3.png');
}

#btn-worm2 {
  bottom: 30px;
  right: 220px;
  background-image: url('images/wormy2.png');
}

#btn-worm3 {
  bottom: 30px;
  right: 295px;
  background-image: url('images/wormy1.png');
}

